<div id="education" class="py-40 dark:bg-navy">
  <div
    class="education section row-span-1 sm:container max-sm:px-10"
    data-aos="fade-zoom-in"
    data-aos-duration="1000"
  >
    <h1 class="dark:text-white">Education</h1>
    <br /><br />
    <div class="section-desc flex max-sm:flex-col">
      <div class="tmu-logo">
        <img src="assets/logos/TMU-rgb.png" alt="TMU logo" class="sm:h-20" />
      </div>
      <div class="edu-desc ml-3 max-sm:text-2xl">
        <p class="font-extrabold text-rose-600 max-sm:text-lg sm:text-sm">
          Sept 2018 - Apr 2023
        </p>
        <span class="font-bold dark:text-zinc-300"
          >Toronto Metropolitan University </span
        ><span id="small-text" class="dark:text-neutral-400"
          >(formerly Ryerson University)</span
        >
        <p class="dark:text-neutral-400">
          Bachelor of Computer Science Honours (Co-op)
        </p>
        <p>
          <span class="font-bold dark:text-zinc-300">GPA:</span>
          <span class="font-bold text-teal-600 dark:text-teal-500">3.48</span>
        </p>
      </div>
    </div>
  </div>
</div>
