<!-- Project1Item1 -->
<div
  data-dialog-backdrop="project1item1"
  data-dialog-backdrop-close="true"
  class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
>
  <div role="dialog" data-dialog="project1item1">
    <div>
      <img
        alt="account page"
        class="max-h-[90vh] max-w-[90vw] place-items-center content-center object-cover object-center align-middle"
        src="assets/bookreviews-imgs/account-page2.gif"
      />
    </div>
  </div>
</div>
<!-- Project1Item2 -->
<div
  data-dialog-backdrop="project1item2"
  data-dialog-backdrop-close="true"
  class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
>
  <div role="dialog" data-dialog="project1item2">
    <div>
      <img
        alt="account page"
        class="max-h-[90vh] max-w-[90vw] place-items-center content-center object-cover object-center align-middle"
        src="assets/bookreviews-imgs/account-reviews.gif"
      />
    </div>
  </div>
</div>
<!-- Project1Item3 -->
<div
  data-dialog-backdrop="project1item3"
  data-dialog-backdrop-close="true"
  class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
>
  <div role="dialog" data-dialog="project1item3">
    <div>
      <img
        alt="account page"
        class="max-h-[90vh] max-w-[90vw] place-items-center content-center object-cover object-center align-middle"
        src="assets/bookreviews-imgs/search-caption.gif"
      />
    </div>
  </div>
</div>
<!-- Project1Item4 -->
<div
  data-dialog-backdrop="project1item4"
  data-dialog-backdrop-close="true"
  class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
>
  <div role="dialog" data-dialog="project1item4">
    <div>
      <img
        alt="account page"
        class="max-h-[90vh] max-w-[90vw] place-items-center content-center object-cover object-center align-middle"
        src="assets/bookreviews-imgs/sorting-caption.gif"
      />
    </div>
  </div>
</div>
<!-- Project1Item5 -->
<div
  data-dialog-backdrop="project1item5"
  data-dialog-backdrop-close="true"
  class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
>
  <div role="dialog" data-dialog="project1item5">
    <div>
      <img
        alt="account page"
        class="max-h-[90vh] max-w-[90vw] place-items-center content-center object-cover object-center align-middle"
        src="assets/bookreviews-imgs/review-caption.gif"
      />
    </div>
  </div>
</div>
<!-- Project2Item2 -->
<div
  data-dialog-backdrop="project2item2"
  data-dialog-backdrop-close="true"
  class="pointer-events-none fixed inset-0 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
>
  <div role="dialog" data-dialog="project2item2">
    <div>
      <img
        alt="account page"
        class="max-h-[90vh] max-w-[90vw] place-items-center content-center object-cover object-center align-middle"
        src="assets/projects/blackjack.gif"
      />
    </div>
  </div>
</div>
